*{
  background-color: black;
  overflow: hidden;
  color: #ffffff;
}


header
{
  display: flex;
  justify-content: center;
}


.spanName{
  color: yellow;
  text-decoration: underline;
  animation: MassBunkAnimation infinite ease-out 1.3s alternate;
}


@keyframes MassBunkAnimation {
  from{
     text-shadow: none;
  }
  to{
     text-shadow: 0px 3px 18px yellow ;
  }
}


main
{
  display: flex;
  justify-content: center;
}


.container
{
  display: flex;
  justify-content: center;
  position:absolute;
  top:18%;
  height:  35rem;
  width: 30rem; 
  border-radius:10px;
  border: 2px solid aqua;
  transition: 1s ease;
}


.div-name{
  position: absolute;
  top:2%;
  font-size: x-large;
  text-decoration: underline;
}


.div-image{
  position: absolute;
  top:15%;
  height: 15rem;
  width: 25rem;
}

.div-image img{
  height: 15rem;
  width: 25rem;
  border-radius: 10px;
}


.vote-container{
  position: absolute;
  left: 10%;
  top: 60%;
}

.container:has(button:hover){
  background-color: black;
  color: #0ff;
  border-color: #0ff;
  box-shadow:0 2px 13px #0ff;
  transition: 1s ease;
}
.name-p{
  cursor: pointer;
  color: #B3B3B3;
  font-size: large;
  font-weight: 700;
}


.name-p:hover{
  color: #ffffff;
}


button{
  display: block;
  cursor: pointer;
  background-color: rgba(204, 204, 204, 0.873);
  color: rgb(0, 0, 0);
  margin-top: 15px;
  transition:1s ease;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

button:hover{
  background-color: black;
  color: #0ff;
  border-color: #0ff;
  box-shadow:0 2px 13px #0ff;
  font-size: 15px;
}

.image-second{
  z-index: 6;
  height: 15rem;
  width: 25rem;
  border-radius: 10px;
}

.image-third{
  z-index: 5;
  height: 15rem;
  width: 25rem;
  border-radius: 10px;
}